/**  =====================
      Custom css start
========================== **/
.w-80 {
  width: 80px !important;
  height: 80px !important;
}
.btn-circle {
  border-radius: 50% !important;
}
body {
  ~ .datta-dark {
    .select__control {
      background: #282a2c;
      color: #adb7be;
      border-color: #1a1a1c;
    }
  }
}
